<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:name="com.starapp.navigation.App"
        android:allowBackup="true"
        android:label="AstroNav"
        android:icon="@mipmap/icon2"
        android:roundIcon="@mipmap/icon2_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CameraLong">

        <activity android:name="com.starapp.navigation.ui.MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.starapp.navigation.ui.CropActivity" />
        <activity android:name="com.starapp.navigation.ui.ResultActivity" />
        <activity android:name="com.starapp.navigation.ui.StarsActivity" />
        <activity android:name="com.starapp.navigation.ui.LocationActivity" />

    </application>

</manifest>
